.container {
  z-index: 1;
}

.loading-section {
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273746;
  background: #000 url("../assets/images/pexels-pixabay-373076.jpg") no-repeat
    fixed center;
  background-size: cover;
  opacity: 0.5;
  pointer-events: none;
  position: fixed;
}
.loading-section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1c2833;
  color: #292929;
  font-size: 10vw;
}
.loading-section div {
  height: 5vh;
  width: 5vh;
  margin: 15px;
  border-radius: 50%;
  background-color: #0ff;
  box-shadow: 0 0 15px #0ff;
}
.animate1 {
  animation: anim1 1s ease 0s infinite;
}
@keyframes anim1 {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.animate2 {
  animation: anim2 1s ease 0.3s infinite;
}
@keyframes anim2 {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.animate3 {
  animation: anim3 1s ease 0.6s infinite;
}
@keyframes anim3 {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.transition-section {
  position: fixed;
  height: 100vh;
  width: 100vw;
  /* z-index: 100; */
  background: #000;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.transition-section .text {
  line-height: 100vh;
  position: relative;
  left: 47%;
  display: block;
  color: white;
}

.animation-visable {
  animation: fade-in 0.6s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
